:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

*{
    scroll-behavior: smooth;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 41%, rgba(255, 0, 0, 1) 100%);
}


header .imgCdb img {
    width: 15vw;

}

header nav ul {
    display: flex;
    width: 40vw;
    justify-content: space-around;
}

header nav ul li {
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--color-neutral-0);
    border-bottom: 2px solid var(--color-neutral-0);
    transition: all 0.3s;
}
header nav ul li a:hover{
    border: 2px solid var(--color-neutral-0);
    padding: 10px;
    border-radius: 10px;
    
}

header .imgFla img {
    width: 9vw;
    margin-top: 0.5em;
}



/* História */
.historia {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    
}

.textoHistoria h2 {
    width: 50vw;
    padding-right: 20px;
    font-size: 40px;
    text-align: right;
    margin-bottom: 0.5em;
}

.textoHistoria p {
    margin-left: 10px;
    font-size: 20px;
    text-indent: 50px;
}
.historia .imgHist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80vh;
}

.historia .imgHist img {
    width: 95%;
    border-radius: 30px;
    height: 50vh;
}

.historia .textoHistoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 50%;
    height: 70vh;
    padding-right: 20px;
}

/* Fim da História */

.titulos {
    background-image: url(/src/images/cdb2022.webp);
    background-size: cover;
    width: 97%;
    height: 100%;
    border-radius: 20px;
    margin-left: 30px;
    margin-left: 30px;
}

/* Traço Vertical */
.timeline {
    margin: 0 auto;
    padding-top: 80px;
    max-width: 65%;
    height: 100%;
    position: relative;
}

/* Traço Vertical  */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(255, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container ao redor do conteúdo */
.container {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Os círculos na timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(0, 0, 0);
    border: 4px solid #ff0000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Esquerda do container */
.left {
    left: 0;
}

/* Direita do container  */
.right {
    left: 50%;
}

/* Adiciona coisa no container da esquerda */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Adiciona coisa no container da direita */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Ajeita os containers do lado certo */
.right::after {
    left: -16px;
}

/* Contenúdo do texto */
.content {
    padding: 11px 25px;
    text-indent: 20px;
    text-align: justify;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h2 {
    margin-top: 5px;
    color: #ff0000;
    text-align: center;
    justify-content: center;
}

/* Cards */

.golsFinal{
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    gap: 15vw;
}
.card .content {
    padding: 11px 25px;
    background-color: rgb(255, 255, 255);
    position: flex;
}
.card{
    position: relative;
    width: 11%;
    height: 254px;
    background: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #000000, #ff0058);
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #000000, #ff0058);
    filter: blur(100%);
}

.card b {
    position: absolute;
    inset: 9px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.card img {
    position: absolute;
    z-index: 3;
    scale: 0.8;
    opacity: 0.2;
    transition: 0.5s;
    width: 100%;
    border-radius: 10px;
    
}

.card:hover img {
    scale: 150%;
    opacity: 1;
    transform: translateY(0px);
}

.card .finalContent {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}

.card:hover .finalContent {
    transform: scale(1);
    bottom: 25px;
}

.finalContent .title {
    position: relative;
    color: #ffffff;
    line-height: 1em;
    font-weight: 450;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.finalContent .title span {
    position: relative;
    font-weight: 450;
    font-size: 11px;
    padding: 2px;
}

/* Fim dos cards */

/* Footer */
footer {
    width: 100%;
    color:var(--color-neutral-40);
}

.pop-up button{
    margin-top: 2em;
    animation: pulsar 1.5s infinite;
    border: 1px red solid;
    padding: 2em;
    border-radius: 10px 20px 10px 20px;
    cursor: pointer;
}
dialog{
    border: none;
    border-radius: 20px 20px;
    overflow-x: hidden;
    margin-left: 37%;
    margin-top: 6%;
    box-shadow: 0 0 1.5em red;
}
dialog::backdrop{
    background-color: rgba(105, 105, 105, 0.797);
}
/* ---popupstyle--- */

.contatoForms h3{
    display: flex;
    justify-content: center;
    margin-bottom: 0.3em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
  
.message {
    font-size: 14px;
}
  
.flex {
    display: flex;
    width: 98%;
    gap: 3px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 97%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}
  
.form label .input + span {
    position: absolute;
    left: 7px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: green;
}
  
.input01 {
    width: 98%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}
  
.form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
}
  
.form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input01:valid + span {
    color: green;
}
  
.fancy {
    background-color: transparent;
    border: 2px solid #cacaca;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}
  
.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}
  
.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
}
  
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: -white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
  
.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: -white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: -white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
.fancy:hover {
    color: -white;
    background: #cacaca;
}
  
.fancy:hover::before {
    width: 1.5rem;
    background: -white;
}
  
.fancy:hover .text {
    color: -white;
    padding-left: 1.5em;
}
  
.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}
  
.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}
#footer_content .logoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6em;
}
#footer_content .logoFooter h3{
    margin-top: 1em;
}

#footer_content .logoFooter img{
    width: 7em;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}


#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    color: aliceblue;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807) ;
}

#facebook {
    color: aliceblue;
    background-color: #4267b3;
}

#twitter {
    color: aliceblue;
    background-color: deepskyblue;
}

.cardFooter {
    position: relative;
    width: 200px;
    color: #0e0c0c;
    background-color:#fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0 , 0 , 0.15);
    padding: 16px;
    margin: 56px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0 , 0 , 0.5),
    0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    transform: scale(1.1);
}

.cardFooter p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
}

.name {
    margin-top: 70px;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials button {
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s;
}

.socials button:hover {
    opacity: 0.8;
}

.socials button i {
    color: #fff;
    font-size: 1.4em;
}

button.github {
    background-color: #24292e;
}

button.instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

button.linkedin {
    background-color: #2f68ca;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: red;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: red;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;

}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: red;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
}

@keyframes pulsar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

