body {
	max-width: 1280px;
	margin: 0 auto;
}

main:after {
	content: '';
	min-height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 80%);
	z-index: -1;
}

.conteudo {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-evenly;
}

.informacoes .logo {
	max-width: 80px;
	margin-bottom: 80px;
}


.informacoes .descricao {
	width: 49%;
	font-size: 24px;
	color: #ffffff;
	line-height: 30px;
	justify-content: flex-end;
	text-align: justify;
	text-indent: 15%;
}

.botoes-carrossel {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.botoes-carrossel .botao {
	background-color: #ffffff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid transparent;
	cursor: pointer;
	border-color: #ffffff;
}

.botoes-carrossel .botao.selecionado {
	background-color: #b11111;
}

.menu-lateral {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    margin-right: 70px;
    
}
.menu-lateral h3{
    color: red;
    text-align: center;
}

.menu-lateral ul {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.logo-liberta{
    width: 140%;
    transition: all 0.4s;
    
}
.logo-liberta:hover{
    width: 160%;
    
}
.logo-copadobr{
    width: 120%;
    transition: all 0.4s;
}
.logo-copadobr:hover{
    width: 130%;
}


.carrossel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.carrossel .imagem {
	width: 100%;
	height: 100vh;
	object-fit: contain;
	display: none;
	animation: mudarImagem 0.6s;
}
.carrossel .imagem img{
    width: 50%;
}

.carrossel .imagem.ativa {
	display: block;
}

@keyframes mudarImagem {
	from {
		opacity: 0.85;
	}
	to {
		opacity: 1;
	}
}
